html{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: $font-color;
}

// Thin header.
h1,h2,h3,h4,h5,h6{
	font-weight: 300;
}

header{
	.navbar-fixed{
		height: 0;
	}
	nav{
		// Logo.
		.brand-logo{
			padding: 0 20px;
		}

		// Menu link.
		a{
			font-weight: 600;
			font-style: italic;
			@extend .grey-text;
			@extend .text-darken-3;

			// Menu link text.
			span{
				border-bottom-width: 1px;
				border-bottom-style: solid;
				border-bottom-color: transparent;
				transition: 0.4s all;
			}

			// Menu link state: active.
			&.active{
				span{
					@extend .red-text;
					@extend .text-accent-2;
					// border-bottom-color: map-get($red, accent-2);
				}
			}
		}
		&.init-scroll{
			@extend .white;
			box-shadow: none;
		}
		&.scrolled{
			@extend .white;
		}
	}
}