$font-color: color("grey", "darken-4");

// About.
$about-bg-color: color("grey", "darken-3");

// Experiences.
$exp-bg-color: color("cyan", "lighten-4");

// Education.
$edu-bg-color: color("red", "lighten-2");

// Works.
$works-bg-color: color("lime", "lighten-4");