$font-color: color("grey", "darken-4");

// About.
$about-bg-color:  color("light-blue", "darken-4");

// Experiences.
// $exp-bg-color: color("cyan", "lighten-4");
$exp-bg-color: color("light-blue", "darken-4");
// $exp-bg-color: color("grey", "darken-3");

// Education.
// $edu-bg-color: color("red", "lighten-2");
$edu-bg-color: color("light-blue", "darken-4");
// $edu-bg-color: color("grey", "darken-3");

// Works.
// $works-bg-color: color("lime", "lighten-4");
$works-bg-color: color("light-blue", "darken-4");
// $works-bg-color: color("grey", "darken-3");